.actionsnav .profile-details{
    padding: 10px;
    padding-bottom: 20px;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.actionsnav .container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.actionsnav .profile-field{
    margin: 10px 0 10px 0;
}

.actionsnav .profile-field .title{
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.actionsnav h2{
    font-size: 1.3em;
    font-weight: bold;
    color: #379683;
    padding-left: 0.5em;
    margin-top: 20px;
}

.actionsnav .btn.edit-profile{
    margin-right: 20px!important;
}

.actionsnav .userinfoform.collection h2{
    margin-left: 10px;
}

.actionsnav .card-panel:hover{
    background: #6dc2b1;
}

.actionsnav .card-panel.current-page{
    background: #6dc2b1;
    font-weight: bold;
}

.actionsnav .listing-card{
    height:300px;
}

.actionsnav .listing-card .card-image img{
    height:200px;
    object-fit:cover;
}

.actionsnav .listing-card .card-image .card-title{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}

.actionsnav .listing-card .card-action{
    background-color: #379683;
    font-weight: bold;
}
.actionsnav .listing-card .card-action a{
    color: #fff!important;
}


