body, .create-profile {
  font-family: 'Calibri', sans-serif;
}

.create-profile .container{
  margin-top: 60px;
  margin-bottom: 60px;
}
.create-profile img {
  width: 100%;
}

.create-profile .divider{
  width: 100%;
  height: 2px;
  background: #379683;
  margin-top:10px;
  margin-bottom:60px;
}
.create-profile h4 {
  text-transform: uppercase;
}
.create-profile .form-hidden{
  visibility: hidden;
}
.create-profile .req-mark{
  color: #05668d;
}

.create-profile label.active{
  color: #379683;
  text-transform: uppercase;
  font-weight: bold;
}

.create-profile .left-filter .input-field,
.create-profile .right-filter .input-field{
  margin-bottom: 40px;
}

.create-profile a{
  color: #4C4C4C!important;
}

.create-profile #form-error-message{
  font-weight: bold;
}

.create-profile .modal.open{
  padding: 3%;
  border: 5px solid #379683!important;
}
.create-profile .modal-content h4{
  text-transform: none;
  color: #379683!important;
}
.create-profile .modal-content p{
  margin-top:30px;
  font-size: 12pt;
}
.create-profile .modal-close{
  color: #379683!important;
  font-weight: bold;
}

.create-profile .description-note{
  margin-bottom: 60px;
}

.create-profile .description-note .match-title{
  font-weight: bold;
  color: #379683;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-right: 15px;
}
.create-profile .description-note i{
  font-size: 1.3rem;
  line-height: 1.3rem;
  top:3px;
  position: relative;
  color: darkgray;
  cursor: default;
}
.create-profile .description-note i.filled-star{
  color: #f28482;
}

.create-profile .login-required{
  border: 5px solid #379683;
  border-radius: 10px;
  padding: 5%;
  margin: 10%;
}

.create-profile .intro-text{
  font-size: 14pt;
}

.create-profile .form-container{
  margin-top: 10%;
}

.create-profile .login-required .btn-large{
  margin-right: 5%;
  margin-left: 5%;
  font-weight: bold;
  font-size: 14pt;
  width: 300px;
}

.listings-banner-wrap {
  text-align: center;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 38.5vw;
  background-image: url(./new-listings-banner.jpg);
  background-size: 100%;
  background-attachment: fixed;
  margin-top: -6vw; /*added when nav was moved out to its own div */
  z-index: -99;
}
.listings-heading.container {
  margin-bottom: 3rem;
}
.listings-heading.container h4 {
  text-transform: uppercase;
  color: #4C4C4C;
  font-weight: bold;
  font-size: 1.5rem;
}
.listings-images-wrap {
  display: flex;
  justify-content: space-between;
}
.listings-images-wrap .listings-profile-pic-wrap h5 {
  text-transform: uppercase;
  color: #379683;
  font-weight: bold;
  font-size: 1rem;
}
.listings-images-wrap .listings-profile-pic-wrap .add_photo {
  font-size: 10vw;
  padding: 1.5vw;
  color: #7E7C7C;
  border: 0.25vw solid #7E7C7C;
  border-radius: 1vw;
}
.listings-images-wrap .listings-additional-pic-wrap h5 {
  text-transform: uppercase;
  color: #379683;
  font-weight: bold;
  font-size: 1rem;
}
.listings-images-wrap .listings-additional-pic-wrap .add_photo {
  font-size: 10vw;
  padding: 1.5vw;
  color: #7E7C7C;
  border: 0.25vw solid #7E7C7C;
  border-radius: 1vw;
}
.listings-profile-pic-wrap,
.listings-add-pic-wrap,
.listings-application-info{
  padding-bottom: 30px;
}
.listings-profile-pic-wrap h5,
.listings-add-pic-wrap h5,
.listings-application-info h5,
.listings-pet-info h5,
.listings-about-me h5,
.listings-contact-info h5 {
  text-transform: uppercase;
  color: #379683;
  font-weight: bold;
  font-size: 1.25rem;
}
.listings-section,
.listings-submit-button-wrap {
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.listings-section button,
.listings-submit-button-wrap button {
  font-weight: bold;
}
input.select-dropdown.dropdown-trigger {
  text-transform: capitalize;
}

li {
  text-transform: capitalize;
}

#output_image
{
 max-width: 20%;
}

.create-profile form.row{
  background: none;
}
