.profile-page{
    /*margin-top: -6vw;*/
}

.profile-page li{
    text-transform: none;
}

.profile-page .container {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

.profile-page .container .text-link{
    color: #00acc1!important;
}

.profile-page .banner-wrap{
    position: relative;
    width: 100%;
    background-image: none;
    background-color: #379683;
    height: fit-content;
}

.profile-page .gradient{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 100%);
    height: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
}

.profile-page .image-slider{
    position: relative;
    height: inherit;
    text-align: center;
    color: #ffffff;
    position: relative;
    width: 100%;
    height: 38.5vw;
    background-image: none;
    background-color: #379683;
    overflow: hidden;
}

.profile-page .image-slider img{
    width: auto;
    height: inherit;
}

.profile-page .title{
    font-weight: bold;
    margin-right: 1%;
}

.profile-page h3{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    color: #379683;
}

.profile-page .btn-large{
    font-weight: bold;
    font-size: 14pt!important;
    margin-top: 8%;
    color: #fff!important;
}

.profile-page .btn{
    color: #fff!important;
}

.profile-page .submit-button a{
    margin-top: 8%;
    font-size: 14pt!important;
    color: #fff!important;
}

.profile-page .scan-button{
    margin-left: 5%;
    color: #fff!important;
}

.profile-page .main-photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.profile-page .side-info{
    min-width: 250px;
}

.profile-page .disclaimer{
    margin-top: 40px;
    font-size: 1.2em;
    font-style: italic;
}

.profile-page span.personality:after{
    content: ", ";
}
.profile-page span.personality:last-of-type:after{
    content: none;
}
