@font-face {
  font-family: 'Grand Hotel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/grandhotel/v8/7Au7p_IgjDKdCRWuR1azpmQN.ttf) format('truetype');
}
body {
  font-family: "Segoe UI", Roboto, 'Calibri', sans-serif;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.hdr-wrap {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 2%;
  background: transparent;
  /*position: absolute;
    top: 30%;*/
}
.hdr-wrap .logo h2 {
  font-family: 'Grand Hotel', cursive;
  font-style: italic;
  font-size: 2.2rem;
  text-align: center;
  margin: 1.5vw 0vw 0.25vw -1vw;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.hdr-wrap .primary-menu {
  margin-left: 15vw;
  margin-top:1.4vw;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.hdr-wrap .primary-menu i{
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.hdr-wrap .primary-menu a,
.hdr-wrap .primary-menu img {
  margin: 1vw 1vw 0 1vw;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  line-height: 2rem;
}
.hdr-wrap .primary-menu a.header-icon{
  border: none!important;
  padding: 0!important;
}

.hdr-wrap .primary-menu i{
  font-size: 1.3rem;
  line-height: 2rem;
  top: 2px;
  position: relative;
}
.hdr-wrap .primary-menu img {
  width: 1.25vw;
  margin-top: 1vw;
}
.hdr-wrap .primary-menu .new.badge{
  margin-top: 0.5vw;
  font-weight: bold;
  margin-left: 0;
  text-shadow: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);;
}

.hdr-wrap .primary-menu a:hover,
.hdr-wrap .primary-menu a:active {
  border: 0.2vw solid #ffffff;
  padding: 0.25vw;
  cursor: pointer;
}
.hdr-wrap .primary-menu img:hover,
.hdr-wrap .primary-menu img:active {
  cursor: pointer;
}
.mobile-ftr-wrap {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #379683;
  padding-bottom: 2vw;
  margin-top: -0.25vw;
}
.mobile-ftr-wrap .logo h2 {
  font-family: 'Grand Hotel', cursive;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  margin: 2vw 0vw 0vw 0vw;
}
.mobile-ftr-wrap .all-accordion .collapsible {
  /*text-align: center;*/
}
.mobile-ftr-wrap .all-accordion .collapsible .collapsible-header {
  background-color: #379683;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  /*text-align: center;*/
}
.mobile-ftr-wrap .all-accordion .collapsible .collapsible-body {
  font-size: 1rem;
}
.ftr-wrap {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #379683;
  padding-bottom: 2vw;
  margin-top: -0.25vw;
}
.ftr-wrap .logo h2 {
  font-family: 'Grand Hotel', cursive;
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  margin: 2vw 0vw 0vw 0vw;
}
.ftr-wrap .footer-menu .pets-menu,
.ftr-wrap .footer-menu .info-menu,
.ftr-wrap .footer-menu .user-xp-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.ftr-wrap .footer-menu .pets-menu h3,
.ftr-wrap .footer-menu .info-menu h3,
.ftr-wrap .footer-menu .user-xp-menu h3 {
  font-size: 1.5vw;
  text-transform: uppercase;
  margin-bottom: 0.25vw;
  font-weight: bold;
}
.ftr-wrap .footer-menu .pets-menu a,
.ftr-wrap .footer-menu .info-menu a,
.ftr-wrap .footer-menu .user-xp-menu a {
  font-size: 1.1vw;
  line-height: 1.75vw;
}
.ftr-wrap .footer-menu .pets-menu a:hover,
.ftr-wrap .footer-menu .info-menu a:hover,
.ftr-wrap .footer-menu .user-xp-menu a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.ftr-wrap .social-wrap {
  display: flex;
  align-self: center;
}
.ftr-wrap .social-wrap img {
  width: 2.5vw;
  padding: 0.5vw;
  color: #ffffff;
}
.ftr-wrap .social-wrap img:hover {
  cursor: pointer;
}
.mobile-menu-wrapper {
  background: transparent !important;
  border: none;
  height: 0;
  padding-top: 0.1vw;
}
.mobile-menu-wrapper .brand-logo {
  font-family: 'Grand Hotel', cursive;
  font-style: italic;
  font-size: 2.5rem;
  margin-right: 12vw;
}
.mobile-menu a{
  color: black;
}
.mobile-menu .side-logo {
  font-family: 'Grand Hotel', cursive;
  font-style: italic;
  font-size: 2.25rem;
  text-align: center;
  margin-top: 1vw;
  color: #379683;
}
.mobile-menu .side-logo .brand-name {
  padding: 0 1.25vw 0 0.75vw;
  color: #379683;
}
.mobile-menu .actual-menu span {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
