@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
body {
    font-family: 'Calibri', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff !important;
}

.hdr-wrap {
    display: flex;
    justify-content: space-between;
    margin-left: 6vw;
    margin-right: 2vw;
    background: transparent;

    /*position: absolute;
    top: 30%;*/

    .logo {
        h2 {
            font-family: 'Grand Hotel', cursive;
            font-style: italic;
            font-size: 3vw;
            text-align: center;
            margin: 1vw 0vw .25vw -1vw;
            color: #ffffff;
        }
    }

    .primary-menu {
        margin-left: 15vw;
        a, img {
            margin: 0 1vw 0 1vw;
            font-size: 1.5vw;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 2vw;
            color: white;
        }
        img {
            width: 1.25vw;
            margin-top: 2vw;
        }
        a:hover, a:active {
            border: 0.20vw solid #ffffff;
            padding: 0.25vw;
            cursor: pointer;
        }
        img:hover, img:active {
            cursor: pointer;
        }
    }
}
.mobile-ftr-wrap {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #379683;
    padding-bottom: 2vw;
    margin-top: -0.25vw;
    .logo {
        h2 {
            font-family: 'Grand Hotel', cursive;
            font-style: italic;
            font-size: 3rem;
            text-align: center;
            margin: 2vw 0vw 0vw 0vw;
        }
    }
    .all-accordion {
       .collapsible {
           /*text-align: center;*/
           .collapsible-header {
            background-color: #379683; 
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
            /*text-align: center;*/
           }
           .collapsible-body {
               font-size: 1.15rem;
           }
       }
    }
}
.ftr-wrap {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #379683;
    padding-bottom: 2vw;
    margin-top: -0.25vw;
    .logo {
        h2 {
            font-family: 'Grand Hotel', cursive;
            font-style: italic;
            font-size: 3rem;
            text-align: center;
            margin: 2vw 0vw 0vw 0vw;
        }
    }
    .footer-menu {
        .pets-menu, .info-menu, .user-xp-menu {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            h3 {
                font-size: 1.5vw;
                text-transform: uppercase;
                margin-bottom: .25vw;
                font-weight:bold;
            }
            a {
                font-size: 1.1vw;
                line-height: 1.75vw;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
    .social-wrap {
        display: flex;
        align-self: center;
        img {
            width: 2.5vw;
            padding: 0.5vw;
            color: #ffffff;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.mobile-menu-wrapper {
    background: transparent !important;
    border: none;
    height: 0;
    padding-top: 0.1vw;

    .brand-logo {
        font-family: 'Grand Hotel', cursive;
        font-style: italic;
        font-size: 2.5rem;
        margin-left: 6vw;
    }
}